.btn{
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
    border: 1px solid $second-color;
    &:hover{
        border-radius: 5px;
        border: 1px solid $second-color;
        color: $main-color;
        background-color: $second-color;
    }
    &__clear{
        background-color: red;
    } 
    &__delete{
        background-color: red;
    }
    &__close{
        
    }
    &__details{
        padding: 10px;
        border-radius: 40px;
        &:hover{
            border-radius: 40px;
            border: 1px solid $second-color;
            color: $main-color;
            background-color: $second-color;
        }
    }
    &__navbar{
        background-color: rgba(76, 175, 80, 0);
        color: $main-color;
        border-radius: 50px;
        padding: 5px 20px;
        border: 1px solid $main-color ;
        &:hover{
            background-color: $main-color;
            color: $second-color;
            border-radius: 50px;
            padding: 5px 20px;
            border: 1px solid $main-color ;
        }
    }
    &__cart {
		width: 100%;
		height: 100%;
		padding: 2px;
        margin: 0px;
        background-color: rgba(76, 175, 80, 0);
        color: $main-color;
        border-radius: 50px;
        border: 1px solid $main-color ;
        &:hover{
            background-color: $main-color;
            color: $second-color;
            border-radius: 50px;
            padding: 5px 20px;
            border: 1px solid $main-color ;
        }
	}
}