.btn{
    padding: 5px 10px;
    margin: 5px;
    border-radius: 50px;
    border: 1px solid $second-color;
    @media screen and (max-width: 768px){
        border-radius: 5px;
    }

    &:hover{
        border-radius: 50px;
        border: 1px solid $second-color;
        color: $main-color;
        background-color: $second-color;
        @media screen and (max-width: 768px){
            border-radius: 5px;
        }
    }
    &__clear{
        background-color: red;
    } 
    &__delete{
        background-color: $main-color;
        border: 0px;
        &:hover{
            border-radius: 5px;
            background-color: $second-color;
            color: $main-color;
        }
    }
    &__close{
        
    }
    &__addtocart{
        font-size: 20px;
        @media screen and (max-width: 768px) {
            font-size: 36px;
        }
    }
    &__details{
        padding: 10px;
        border-radius: 40px;
        &:hover{
            border-radius: 40px;
            border: 1px solid $second-color;
            color: $main-color;
            background-color: $second-color;
        }
    }
    &__navbar{
        background-color: $main-color;  //rgba(76, 175, 80, 0);
        color: $second-color;
        border-radius: 50px;
        padding: 5px 20px;
        border: 1px solid $second-color; ;
        font-size: 34px;
        &:hover{
            background-color: $second-color;
            color: $main-color;
            border-radius: 50px;
            padding: 5px 20px;
            border: 1px solid $main-color ;
        }

    }
    &__cart {
		width: 100%;
		height: 100%;
		padding: 2px;
        margin: 0px;
        background-color: rgba(76, 175, 80, 0);
        color: $main-color;
        border-radius: 50px;
        border: 1px solid $main-color ;
        &:hover{
            background-color: $main-color;
            color: $second-color;
            border-radius: 50px;
            padding: 5px 20px;
            border: 1px solid $main-color ;
        }
	}
    &__offer{
        background-color: $second-color;
        color: $main-color;
        font-weight: bold;
        padding: 10px;
        border-radius: 5px;
        &:hover{
            background-color: $main-color;
            color: $second-color;
            border-radius: 5px;
        }
    }
}