.cart-count{
    
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Semi-transparent black background */
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
    &__content{
        background: $third-color;
        padding: 20px;
        border-radius: 5px;
    }
    &__article{
        
    }
    &__list{

    }
    &__buttons{
        padding: 20px 0px;
    }
}