.cart-count{
    margin: 150px 10px 0px 0px;
    padding: 0px 2px 0px 5px;
    position: absolute;
    right: 0px;
    width:fit-content;
    background-color: aquamarine;
    
    &__article{
        
    }
}