.cart-count{
    
    padding: 0px 25px 0px 25px;
    position: absolute;
    top: 70px;
    right: 0px;
    width:fit-content;
    background-color: $main-color;
    border-radius: 5px;
    &__article{
        
    }
    &__list{
        
    }
}