.checkout{
    margin-top: 200px;
    &__input{
        margin: 5px;
    }
    &__row{
        display: flex;
        justify-content: space-around;
    }
    &__image{
        max-width: 200px;
        max-height: 200px;
    }
    &__item{
        margin-bottom: 60px;
    }
    &__textarea{
        min-width: 400px;
        min-height: 100px;
    }
}