.navbar{
    background-color: #113946;
    position: absolute;
    width: 100%;
    left: 0;
    top:0;
    color: white;
    &__login{
        position: absolute;
        right: 36px;
        top: 50px;
        &-item{
            width: 100px;

        }
    }
    &__button{
        &-category{
            margin-left: 5px ;
        }
        &-login{
            position: absolute;
            right: 10px;
        }
        &-loginpage{
            width: 126px;
            background-color: #113946;
            padding: 5px;
            color: white;
            border: 1px solid white;
            &-admin{
                width: 126px;
                padding: 5px;
                background-color: red;
                border: 1px solid white;
            }
        }
    }
    &__dropdown{
            position: absolute;
            background-color: #113946;
            border-radius: 10px;
            padding: 10px;
            left: 0;

        &-item{
            border: 1px solid gray;
            padding: 2px;
            font-size: 20px;
        }
    }
    &__search{
        margin-top: 5px;
        width: 100%;
    }
}