.navbar{
    background-color: #113946;
    position: absolute;
    width: 100%;
    left: 0;
    top:0;
    color: white;
    &__login{
        margin-left: auto; 
    }
    &__button{
        &-category{
            margin-left: 5px ;
        }
    }
    &__dropdown{
            position: absolute;
            background-color: #113946;
            border-radius: 10px;
            padding: 10px;
            left: 0;

        &-item{
            border: 1px solid gray;
            padding: 2px;
            font-size: 20px;
        }
    }
    &__search{
        margin-top: 5px;
    }
}