.header {
	display: flex;
	align-items: center;
	padding: 0 10px;
	background-color: #113946;
	padding-bottom: 10px;
	// --------------------------------------
	&__logo{
		position: relative;
		margin-right: 5px;
	}
	&__category {
		position: relative;
	}
	&__category-btn {
	}
	&__category-dropdown {
		position: absolute;
		background-color: #113946;
		padding-left: 10px;
		top: 48px;
	}
	&__category-item {
		min-width: 250px;
		color: #fff;
	}
	// --------------------------------------
	&__search {
		width: 100%;
		margin: 10px 10px;
	}
	&__search-input {
		width: 100%;
		border-radius: 5px;
		height: 40px;
	}
	// --------------------------------------
	&__trash-con {
		width: 40px;
		height: 40px;
		margin-right: 10px;
		flex-shrink: 0;
	}
	&__trash-btn {
		width: 100%;
		height: 100%;
		background-color: gray;
		border-radius: 5px;
		padding: 2px;
	}
	// --------------------------------------
	&__account {
		position: relative;
	}
	&__account-btn {
	}
	&__account-dropdown {
		position: absolute;
		background-color: #113946;
		top: 48px;
	}
	&__account-loginpage {
		border: none;
		background-color: #113946;
		color: #fff;
	}
}
