.pagination{
  text-align: center;
  &__tabs{
    text-align: center;
    display: flex;
    justify-content: center;
  }
  &__numbers{
    @media screen and (max-width: 768px) {
      display: none;
    }
    .active{
      color: $main-color;
      background-color: $second-color;
    }
  }
  &__button{
    font-size: 15px;
    margin: 10px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid $second-color;
    justify-content: center;
    align-items: center;
    cursor: pointer;

  }
}