.product-page{
  margin-top: 200px;
  overflow: hidden;
  @media screen and (max-width: 768px) {
    margin-top: 50px;
  }
  &__header {
    margin-left: 128px;
    @media screen and (max-width: 768px) {
      margin-left: 0;
    }
  }
  &__list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 100px 150px;
    @media screen and (max-width: 768px) {
      display: block;
      padding: 30px;
    }
  }
  &__article{
    width: 250px;
  }
  &__button{

  }
  &__cart-wrap{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 0px;
    overflow: hidden;
  }
  &__img{
    border-radius: 40px;
    width: 450px;
    height: 430px;
    object-fit: cover;
    transition: 1s;
    position: relative;
   
    &:hover{
      transform: scale(1.1);

    }
  }
  &__img-wrap{
    overflow: hidden;
    border-radius: 40px;
  }
  &__filter{
    justify-content: center;
    display: flex;
    margin-bottom: 20px;
    gap: 10px;
  }
  &__filter-item{
    cursor: pointer;
    &:hover{
      background-color: $second-color;
      color: $main-color;
    }
  }
}
