.product{
    background-color: $main-color;
    .description{
        display: block;
        border-radius: 5px ;
        background-color: $third-color;
        &__details{
            margin: 5px;
        }
        &__img{
            max-width: 100%;
        }
    }
    h3{
        font-size: 25px;
    }
}