.product-page{
  margin-top: 200px;
  @media screen and (max-width: 768px) {
    margin-top: 50px;
  }
  &__img{
    display: block;
    max-width: 100%;
    height: auto;
    width: -webkit-fill-available;
  }
  &__card{

  }
  &__list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 100px 120px;
  }
  &__article{
    width: 250px;
  }
  &__button{

  }
  &__cart-wrap{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 0px;
  }
  &__img{
    border-radius: 40px;
    height: 500px;
    object-fit: cover;
  }
  &__img-wrap{

  }

}
